@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes authLoading {
    10% {
        left: 0;
        right: 100%;
    }
    50% {
        left: 0;
        right: 0;
    }
    90% {
        left: 100%;
        right: 0;
    }
}
@keyframes authTransitionOut {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
@keyframes moveUp {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes moveDown {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}