.page--article {
    #content-wrap {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-columns: 300px minmax(0, 1fr);
    }
    main {
        min-width: 0;
        position: relative;
        background-color: white;
        padding: 50px 310px 50px 50px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 40px 0;

            .ctc {
                display: inline;
                font-size: 0.75em;
                margin-left: 0.5em;
                vertical-align: middle;
                opacity: 0;
                cursor: pointer;
                color: $blue;
                transition: all 300ms ease-in-out;
            }

            &:hover {
                .ctc {
                    opacity: 1;
                }
            }
        }

        h1 {
            font-size: 36px;
            position: relative;
            padding-bottom: 10px;
            margin: 0 0 10px;
        }
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 26px;
        }
        h4 {
            font-size: 22px;
        }
        h5 {
            font-size: 20px;
        }
        h6 {
            font-size: 18px;
        }

        p,
        li {
            line-height: 26px;
        }
        p,
        ul,
        ol,
        pre,
        hr,
        figure {
            margin: 20px auto;
        }
        img {
            border-radius: 2px;
            filter: drop-shadow(0 0 10px transparentize(black, 0.9));
            -webkit-filter: drop-shadow(0 0 10px transparentize(black, 0.9));
            max-width: 100%;
        }
        a {
            color: $blue;

            &:hover {
                color: $blue-hover;
            }
            code {
                color: $blue;
            }
        }
        figure {
            text-align: center;

            img {
                display: inline-block;
            }

            &.align-left {
                text-align: left;
            }

            &.align-right {
                text-align: right;
            }

            &.size-medium img,
            &.size-medium video {
                max-width: 80%;
            }

            &.size-small img,
            &.size-small video {
                max-width: 50%;
            }

            figcaption {
                font-size: 0.8em;
                margin: 15px auto;
            }
        }
        code {
            border: 1px solid $grey-l;
            font-family: monospace;
            background: $grey-bg-light;
            font-size: 0.8em;
            padding: 2px 4px;
            word-break: break-word;
            border-radius: 2px;
        }
        pre {
            border: 1px solid $grey-l;
            border-radius: 10px;
            padding: 20px 20px;
            font-family: monospace;
            font-size: 12px;
            line-height: 20px;
            overflow: auto;

            code {
                background: transparent;
                font-size: 1em;
                padding: 0;
                border: none;

                span {
                    background: transparent !important;
                }
            }
        }
        .notebox {
            background: $grey-xl;
            border: 1px solid $grey-l;
            border-radius: 10px;
            padding: 20px;
            text-align: left;
            line-height: 1.5em;

            p {
                font-size: 0.9em;
                margin: 10px auto;
                line-height: 22px;

                &:first-of-type {
                    margin-top: 0;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            code {
                background: transparentize($blue, 0.95);
            }
            pre {
                background: $grey-bg !important;
            }
            ol li,
            ul li {
                font-size: 0.9em;
                line-height: 22px;
            }
        }
        .description {
            font-size: 22px;
            margin: 0;
            padding: 0;
        }

        blockquote {
            overflow: auto;
            padding: 20px;
            border: 1px solid $grey-l;
            border-radius: 10px;
            background: white;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                bottom: 0;
                width: 7px;
                background-color: $grey-l;
            }

            p:first-child {
                margin-top: 0;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }

        .table-wrap {
            overflow-x: auto;
        }
        table {
            line-height: 1.2;
            tbody,
            thead {
                tr {
                    td,
                    th {
                        min-width: 150px;
                        padding: 15px;
                        border: 2px solid $grey-bg;
                        text-align: left;
                    }
                }
            }

            code {
                padding: 2px 5px;
            }
        }

        ol {
            list-style-type: decimal;
        }

        ul {
            list-style-type: disc;
        }

        ul,
        ol {
            padding-left: 35px;
            li {
                margin: 10px 0;
                line-height: 25px;
                padding-left: 5px;
            }
        }
        .note {
            &__timestamp {
                font-size: 16px;
                opacity: 0.5;
            }
        }
    }
    #toc {
        width: 230px;
        position: absolute;
        right: 0;
        top: 76px;
        overflow: auto;
        padding-top: 32px;
        padding-right: 30px;
        nav {
            position: relative;
            padding-left: 10px;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                border-right: 2px solid $grey-bg;
                height: 100%;
                transition: all 300ms ease-in-out;
            }
        }

        code {
            color: inherit;
            font-family: inherit;
            background: inherit;
            font-size: inherit;
            padding: 0;
        }

        .heading {
            color: #aaaaaa;
            text-transform: uppercase;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid $grey-bg;
            font-size: 12px;
        }
        a {
            display: block;
            position: relative;
            color: $black;
            font-size: 14px;
            line-height: 20px;
            padding: 5px;
            color: $grey-text-light;
            transition: all 300ms ease-in-out;

            &:hover,
            &.active:hover {
                color: $blue;
            }
            &.active {
                color: $black;
                font-weight: 600;

                &::before {
                    content: '';
                    position: absolute;
                    left: -10px;
                    top: 0;
                    display: block;
                    border-right: 2px solid $blue;
                    height: 100%;
                }
            }
        }

        ul,
        ol {
            list-style-type: none;
            padding-left: 0;
            li {
                padding: 0;
                margin: 0;
                li a {
                    padding-left: 15px;
                }
            }
        }
        ul ul {
            margin: 0;
        }
    }
    #configuration-info {
        display: none;
    }
}
