.search {
    position: relative;

    @at-root .page--home & {
        margin: 30px 0;
    }
    &__input {
        position: relative;
        width: 100%;
        height: 48px;
        box-sizing: border-box;
        line-height: 48px;
        padding: 0 45px;
        font-family: inherit;
        border: 2px solid $grey-l;
        border-radius: 10px;
        transition: all 200ms ease-in-out;
        z-index: 2;

        @at-root .page--home & {
            height: 80px;
            border-radius: 20px;
            font-size: 16px;
            padding: 0 75px;
        }
        &:focus {
            border-color: transparent;
            box-shadow: 0 0 0 1px $blue, 0 0 0 5px transparentize($blue, 0.9);
        }
        &::placeholder {
            color: $grey-text-light;
        }
    }

    &__icon,
    &__icon.fas {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $grey-text-light;
        z-index: 3;

        &--search {
            left: 15px;
            cursor: pointer;

            @at-root .page--home & {
                left: 30px;
            }
        }
        &--clear {
            right: 15px;
            cursor: pointer;

            @at-root .page--home & {
                right: 30px;
            }
        }
    }

    &:not(.search--active) .search__icon--clear {
        display: none;
    }
    #search-results {
        max-height: calc(100vh - 200px);
        overflow: auto;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 48px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0 0 30px transparentize($black-l, 0.9);
        transition: all 200ms ease-in-out;
        z-index: 1;

        @at-root .page--home & {
            top: 90px;
        }

        &:empty {
            pointer-events: none;
            opacity: 0;
            transform: translateY(-30px);
        }
        li {
            font-size: 14px;
            line-height: 1.4em;
            padding: 20px;
            border-radius: 10px;
            transition: all 200ms ease-in-out;

            &:hover {
                background-color: $blue-xl;
                border-color: transparent;
            }
            &:last-child {
                border-bottom: none;
            }
            mark {
                background: transparent;
                font-weight: 600;
                color: $black;
                text-decoration: underline;
            }
        }
        a {
            color: $blue;
            font-weight: 600;
            font-size: 16px;
            display: inline-block;
            margin-bottom: 10px;

            mark {
                color: $blue;
                font-weight: bold;
            }
        }
    }
}

// #search-results {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: 1;
//     background: rgb(248, 248, 248);
//     overflow: auto;
//     margin-top: 70px;

//     &:not(:empty) ~ #main-content {
//         position: fixed;
//         overflow: hidden;
//         height: 100%;
//     }

//     @media (min-width: 1001px) {
//         margin-left: 360px;
//         margin-top: 76;
//     }

//     @media (max-width: 1000px) {
//         margin-top: 140px;
//     }

//     &:empty {
//         display: none;
//     }

//     ul {
//         padding: 30px;
//     }

//     li {
//         padding: 12px 0;
//     }

//     a {
//         font-size: 18px;
//         color: $blue;
//         &:hover {
//             color: $blue-hover;
//         }
//     }

//     p {
//         font-size: 14px;
//         line-height: 16px;
//         margin-top: 5px;
//         color: #666;
//     }

//     span {
//         &:not(.start):before,
//         &:last-child:not(.end):after {
//             content: '\00A0...\00A0';
//         }
//     }

//     a mark {
//         color: $blue;
//     }

//     p mark {
//         color: black;
//     }

//     mark {
//         background: transparent;
//         font-weight: 600;
//     }

//     .no-results-message {
//         font-size: 28px;
//         text-align: center;
//         display: flex;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//         position: absolute;
//         align-items: center;
//         justify-content: center;
//         padding: 30px;
//         box-sizing: border-box;
//     }
// }
