<!DOCTYPE html>
<html>
    <head>
        {{ .Render "head" }}
    </head>
    <body class="page page--home">
        {{ partial "header" . }} {{ block "main" . }}{{ end }}
        <!-- {{ partial "header" . }}
        <section id="links"></section>
        <div id="content-wrap" data-js-content-wrap>
            <div id="main-content">
                <main></main>
            </div>
        </div> -->
        {{ partial "page-notification" . }}
        <footer id="footer">{{ partial "footer" . }}</footer>
        {{ partial "analytics" . }} {{ partial "site-footer" . }}
    </body>
</html>
