<!doctype html>

<html>
  <head>
    {{ .Render "head" }}
  </head>
  <body id="article-page" class="page">
    {{ partial "header" . }}
    <div id="content-wrap" data-js-content-wrap>
      <div id="search-results" data-js-search-results></div>
      <aside id="sidebar" data-js-sidebar>
        <div class="overlay"></div>
        <div id="sidebar__header" data-js-docs-menu-toggle>
          <div id="sidebar__toggle" data-js-docs-menu-toggle-icon>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          Codemagic Documentation
        </div>
        <div class="search search--header">
          <input class="search__input" type="text" placeholder="Search">
          <div class="search__icon search__icon--search fas fa-search"></div>
          <div class="search__icon search__icon--clear fas fa-times"></div>
        </div>
        {{ partial "sidebar" . }}
      </aside>
      <div id="main-content">
        <main>
          {{ block "main" . }}{{ end }}
        </main>
      </div>
    </div>
    <footer id="footer">
      {{ partial "footer" . }}
    </footer>
    {{ partial "analytics" . }}
    {{ partial "site-footer" . }}
  </body>
</html>
