{{ partial "common-head" . }}

{{ $scssOptions := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $mainStyles := resources.Get "scss/main.scss" | toCSS $scssOptions | resources.ExecuteAsTemplate "" . | fingerprint }}
<link rel="stylesheet" href="{{ $mainStyles.RelPermalink }}" integrity="{{ $mainStyles.Data.Integrity }}" />
{{ $fontStyles := resources.Get "fonts/fonts.scss" | toCSS $scssOptions | resources.ExecuteAsTemplate "" . | fingerprint }}
<link rel="stylesheet" href="{{ $fontStyles.RelPermalink }}" integrity="{{ $fontStyles.Data.Integrity }}" />

<script async="" src="https://www.googletagmanager.com/gtag/js?id={{ site.Param "googleTagManagerId" }}"></script>

<script defer data-domain="docs.codemagic.io" src="/js/script.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
