{{ define "main" }}
<!-- <section id="hero">
    <div class="hero__top">
        <div class="inner inner--search">
            <h1>Search the documentation</h1>
            {{ partial "search" (dict "context" . "layout" "large") }} {{ partial "popular-articles" }}
        </div>
    </div>
    <div class="hero__bottom">
        <div class="inner">
            <div class="cards">
                <div class="card">
                    <div class="card__image">{{ partial "illustration-yaml" }}</div>
                    <div class="card__content">
                        <div class="card__title">Learn about codemagic.yaml</div>
                        <div class="card__description">
                            Learn how to configure your CI/CD workflows using the Codemagic configuration file.
                        </div>
                        <a href="/yaml/yaml-getting-started/" title="Browse all articles" class="card__button"
                            >Browse all articles</a
                        >
                    </div>
                </div>
                <div class="card">
                    <div class="card__image">{{ partial "illustration-workflow-editor" }}</div>
                    <div class="card__content">
                        <div class="card__title">Flutter workflow editor</div>
                        <div class="card__description">
                            Configuration guides for working with your Flutter app in Codemagic using the Flutter
                            workflow editor.
                        </div>
                        <a
                            href="/flutter-configuration/flutter-projects/"
                            title="Browse all articles"
                            class="card__button"
                            >Browse all articles</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section id="links">
    <div class="inner">{{ .Content }}</div>
</section>
<section class="footer">
    <div class="inner">
        <div class="footer__content">
            <div class="footer__title">Can’t find an answer?</div>
            <div class="footer__subtitle">Join our GitHub Discussions and connect with more than 5K developers.</div>
        </div>
        <a href="https://github.com/codemagic-ci-cd/codemagic-docs/discussions" target="_blank" class="footer__button">
            Codemagic discussions {{ partial "arrow-right" }}
        </a>
    </div>
</section>
{{ end }}
