{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ with .Params.exclude }}
{{ else }}
{{ partial "breadcrumbs.html" . }} 
{{ end }}
{{ with .Description }}
<p class="description">{{.}}</p>
{{ end }} {{ with .Params.StartLineBreak }}
<br />
{{ end }} {{ partial "content" . }} {{ with .TableOfContents }}
<aside id="toc" data-js-toc>
    <div class="heading">Table of contents</div>
    {{ . }}
</aside>
{{ end }} {{ end }}

<!DOCTYPE html>
<html>
    <head>
        {{ .Render "head" }}
    </head>
    <body class="page page--article">
        {{ partial "header" . }}
        <div id="content-wrap" data-js-content-wrap class="inner">
            <aside id="sidebar-positioner" data-js-sidebar-positioner></aside>
            <aside id="sidebar" data-js-sidebar>
                <div class="overlay"></div>
                <div id="sidebar__header" data-js-docs-menu-toggle></div>
                {{ partial "sidebar" . }}
            </aside>
            <div id="main-content">
                <main data-js-article>
                    {{ block "main" . }}{{ end }}
                    <!---->
                    {{ with .Params.exclude }}
                    {{ else }}
                    {{ partial "help-footer" }}
                    {{ end }}
                </main>
                {{ with .Params.exclude }}
                {{ else }}
                <footer id="footer">{{ partial "footer" . }}</footer>
                {{ end }}
                {{ with .Params.exclude }}
                {{ partial "footer-landing" }}
                {{ else }}
                {{ end }}
            </div>
        </div>
        {{ if .Page.Store.Get "hasMermaid" }}
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
        <script>
        mermaid.initialize({ startOnLoad: true });
        </script>
        {{ end }}
        {{ partial "analytics" . }} {{ partial "site-footer" . }}
    </body>
</html>
