.links-group-wrap {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 40px;

    @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }
    .links-group {

        h3 {
            font-size: 24px;
            padding-bottom: 0px;
            margin: 30px 0px 0px 0px;
    
            @media (max-width: 1400px) {
                font-size: 20px;
            }
        }
        li {
            margin: 0px;
        }
        ul {
            padding-left: 15px;
        }
    
        p {
            margin-top: 10px;
            font-size: 16px;
        }
        a {
            color: $black-l;
            font-weight: 400;
    
            &:hover {
                color: $blue;
            }
        }
        @media (max-width: 560px) {
            li {
                margin: 15px 0;
            }
        }
    }    
}