.links-group-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}
.links-group {
    h3 {
        font-size: 20px;
        padding-bottom: 25px;
        border-bottom: 1px solid #cdddff;

        @media (max-width: 1400px) {
            font-size: 20px;
        }
    }
    li {
        margin: 25px 0;
    }
    a {
        color: $black-l;
        font-weight: 600;

        &:hover {
            color: $blue;
        }
    }
    @media (max-width: 560px) {
        li {
            margin: 15px 0;
        }
    }
}
