#docs-menu {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    & > .collection {
        padding-bottom: 20px;
    }
    .collection {
        .item {
            &__category {
                &__name {
                    position: relative;
                    padding: 15px 20px 15px 0;
                    font-size: 16px;
                    font-weight: 600;
                    color: $black-l;
                    border-bottom: 1px solid $blue-xl-border;
                    transition: all 200ms ease-in-out;

                    &::after {
                        content: '';
                        @include icon(getAssetUrl('media/icons/caret-down.svg'));
                        position: absolute;
                        top: 50%;
                        right: 10%;
                        transform: translate(50%,-50%);
                        background-color: $black;
                        width: 9px;
                        height: 9px;
                        display: none;
                    }
                    &:hover::after {
                        background-color: $blue-hover;
                    }
                }
                &__posts {
                    margin-top: 10px;
                }
                .item__category {
                    padding-left: 10px;
                    border: none;

                    .item__category__name {
                        padding: 7px 0;
                        color: $black;
                        font-size: 14px;
                        border: none;
                        cursor: pointer;

                        &::after {
                            display: inline-block;
                        }

                        &:hover {
                            color: $blue-hover;
                        }
                    }
                    .item__category_posts {
                        height: 0;
                        overflow: hidden;
                    }
                }
                &--collapsible {
                    .item__category__posts {
                        display: none;
                    }
                }
            }
        }
        a {
            display: block;
            padding: 7px 10px;
            color: $black;

            &:hover {
                color: $blue;
            }
            &.active {
                color: $blue-hover;
                font-weight: 600;
                cursor: default;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 7px;
                    height: calc(100% - 14px);
                    display: block;
                    border-left: 2px solid $blue-hover;
                }
            }
        }
        &--extra {
            padding: 0;
        }
        &--external {
            border-top: 1px solid $blue-xl-border;
            padding-top: 20px;

            a {
                padding-left: 0;
                font-weight: 600;
            }
        }
        &--external a {
            padding-right: 20px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::after {
                content: '';
                @include icon(getAssetUrl('media/icons/up-right-from-square.svg'));
                position: absolute;
                top: 50%;
                right: 10%;
                transform: translate(50%,-50%);
                background-color: $black;
                width: 12px;
                height: 12px;
            }
            &:hover::after {
                background-color: $blue-hover;
            }
        }
    }
}
