buildDrafts: false
baseURL: https://docs.codemagic.io

params:
  googleAnalyticsTrackingId: UA-125963734-1
  googleOptimizeId: GTM-TW39Z9J
  appUserUrl: https://api.codemagic.io/user
  backendURL: https://api.codemagic.io
  landingURL: https://codemagic.io
  appURL: https://codemagic.io
  blogURL: https://blog.codemagic.io