<script type="text/javascript">
  const userFetchTimeoutMs = 3000
  const gtmId = '{{ site.Param "googleTagManagerId" }}'
  const appUserUrl = '{{ site.Param "appUserUrl" }}'

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());
  gtag('config', gtmId);

  async function fetchJson(url, timeout) {
    const options = {
      mode: 'cors',
      credentials: 'include',
      headers: { Accept: 'application/json' }
    }
    const controller = new AbortController()
    const signal = controller.signal

    setTimeout(() => controller.abort(), timeout)

    const response = await fetch(url, { ...options, signal })
    return response.json()
  }

  !(function(f, b, e, v, n, t, s) {
    if (f.fbq) return
    n = f.fbq = function() {
        n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
    }
    if (!f._fbq) f._fbq = n
    n.push = n
    n.loaded = !0
    n.version = '2.0'
    n.queue = []
    t = b.createElement(e)
    t.async = !0
    t.src = v
    s = b.getElementsByTagName(e)[0]
    s.parentNode.insertBefore(t, s)
  })(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js')
  fbq('init', '2000132876774057')
  fbq('track', 'PageView')

  // Google Tag event
  function sendGtag(action, label, nonInteraction) {
    var pageName = 'docs-' + window.location.pathname
    var eventParameters = { event_category: pageName, event_label: label }
    if (nonInteraction) {
      eventParameters.non_interaction = true
    }
    window.gtag('event', action, eventParameters)
  }

</script>
    
<noscript>
  <img height="1" width="1" src="https://www.facebook.com/tr?id=2000132876774057&ev=PageView&noscript=1" />
</noscript>