<div id="contribute-footer">
    <div class="content">
        <h2>Contributing to the documentation</h2>
        <p>
            Codemagic's documentation is open source and availble on <a href="https://github.com/codemagic-ci-cd/codemagic-docs/" target="_blank" rel="noopener noreferrer">GitHub.</a>
        </p>
        <ul>
            <li>To contribute to the docs, you can raise a <strong>pull request</strong> as described             
                <a
                  href="https://github.com/codemagic-ci-cd/codemagic-docs/blob/master/readme.md"
                  target="_blank"
                  rel="noopener noreferrer"
                  >here.
                </a>
            </li>
            <li>To report an <strong>issue</strong> with the documentation, or to give <strong>comments</strong> and <strong>feedback</strong> you can open an issue
                <a
                  href="https://github.com/codemagic-ci-cd/codemagic-docs/issues"
                  target="_blank"
                  rel="noopener noreferrer"
                  >here.
              </a>
            </li>
        </ul>
    </div>
</div>    