<section class="page--home">
    <div class="footer">
        <div class="inner">
            <div class="footer__content">
                <div class="footer__title">Can’t find an answer?</div>
                <div class="footer__subtitle">Join our GitHub Discussions.</div>
            </div>
            <a href="https://github.com/codemagic-ci-cd/codemagic-docs/discussions" target="_blank" class="footer__button">
                Codemagic discussions {{ partial "arrow-right" }}
            </a>
        </div>
    </div>
</section>