<div id="nav-trigger"></div>
<header id="header" data-js-header>
    <div class="inner">
        <a href="/" id="header-logo" onclick="sendGtag('Logo_clicked', 'CodemagicMenu')"
            >{{ partial "codemagic-logo" . }}</a
        >
        <div id="menu-toggle" data-js-header-menu-toggle>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        {{if or .IsPage .IsHome }}
        <div id="header-content" data-js-header-content>
            <div id="sidebar-toggle" data-js-docs-menu-toggle>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            {{ partial "search" . }}
        </div>
        {{end}}
        <div id="header-menu-wrap" data-js-header-menu-wrap>
            <aside id="header-authentication" data-js-header-authentication>
                <div id="header-auth-visitor" data-js-header-auth-visitor>
                    <a
                        class="auth-link"
                        href='{{ site.Param "appURL" }}/login'
                        id="login-link"
                        onclick="sendGtag('Login_clicked', 'CodemagicMenu')"
                        >Login</a
                    >
                    <a
                        href='{{ site.Param "appURL" }}/signup'
                        id="signup-btn"
                        class="btn"
                        onclick="sendGtag('Signup_clicked', 'CodemagicMenu')"
                        >Sign up</a
                    >
                </div>
                <a id="header-auth-user" href='{{ site.Param "appURL" }}/apps' data-js-header-auth-user>
                    <div class="label">Return to app</div>
                    <div id="header-user-avatar" data-js-header-user-avatar></div>
                </a>
                <div id="header-auth-logout" data-js-header-auth-logout>Log out</div>
                <div id="header-auth-loading" data-js-header-auth-loading>
                    <div class="grey-line" data-js-header-auth-loading-grey-line></div>
                    <div class="red-line"></div>
                </div>
            </aside>
        </div>
    </div>
</header>
