<div id="nav-trigger"></div>
<header id="header" data-js-header>
    <div class="inner">
        <a
            href='{{ site.Param "landingURL" }}/start'
            id="header-logo"
            onclick="sendGtag('Logo_clicked', 'CodemagicMenu')"
            target="_blank"
            >{{ partial "codemagic-logo" . }}</a
        >
        <div id="menu-toggle" data-js-header-menu-toggle>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div id="header-menu-wrap" data-js-header-menu-wrap>
            <nav id="header-menu">
                <a class="menu-link toggle-dropdown-button" data-js-toggle-menu-product-dropdown>Product</a>
                <div class="menu-dropdown" data-js-menu-product-dropdown>
                    <div class="menu-block">
                        <p class="menu-block__header">Use Codemagic CI/CD for</p>
                        <ul class="menu-block__links">
                            <li>
                                <a
                                    href="https://flutterci.com"
                                    class="menu-block__link"
                                    onclick="sendGtag('Flutter_clicked', 'CodemagicMenu')"
                                    target="_blank"
                                >
                                    {{ readFile "/assets/svg/platforms/flutter.svg" | safeHTML }} Flutter</a
                                >
                            </li>
                            <li>
                                <a
                                    href='{{ site.Param "landingURL" }}/react-native-continuous-integration'
                                    class="menu-block__link"
                                    onclick="sendGtag('React_native_clicked', 'CodemagicMenu')"
                                >
                                    {{ readFile "/assets/svg/platforms/react.svg" | safeHTML }} React Native</a
                                >
                            </li>
                            <li>
                                <a
                                    href='{{ site.Param "landingURL" }}/ios-continuous-integration'
                                    class="menu-block__link"
                                    onclick="sendGtag('iOS_clicked', 'CodemagicMenu')"
                                    >{{ readFile "/assets/svg/platforms/ios.svg" | safeHTML }} Native iOS</a
                                >
                            </li>
                            <li>
                                <a
                                    href='{{ site.Param "landingURL" }}/android-continuous-integration'
                                    class="menu-block__link"
                                    onclick="sendGtag('Android_clicked', 'CodemagicMenu')"
                                >
                                    {{ readFile "/assets/svg/platforms/android.svg" | safeHTML }} Native Android</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="menu-block">
                        <p class="menu-block__header">Discover more from</p>
                        <ul class="menu-block__links">
                            <li>
                                <a
                                    href='{{ site.Param "landingURL" }}/integrations'
                                    class="menu-block__link"
                                    onclick="sendGtag('Integrations_clicked', 'CodemagicMenu')"
                                    >{{ readFile "/assets/svg/plug.svg" | safeHTML }} Integrations</a
                                >
                            </li>
                            <li>
                                <a
                                    href='{{ site.Param "blogURL" }}'
                                    class="menu-block__link"
                                    onclick="sendGtag('Blog_clicked', 'CodemagicMenu')"
                                    target="_blank"
                                    >{{ readFile "/assets/svg/book.svg" | safeHTML }} Blog</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <a
                    class="menu-link"
                    href='{{ site.Param "landingURL" }}/pricing'
                    onclick="sendGtag('Pricing_clicked', 'CodemagicMenu')"
                    >Pricing</a
                >
                <a
                    class="menu-link"
                    href='{{ site.Param "landingURL" }}/enterprise'
                    onclick="sendGtag('Enterprise_clicked', 'CodemagicMenu')"
                    >Enterprise</a
                >
                <a class="menu-link" href="/" onclick="sendGtag('Documentation_clicked', 'CodemagicMenu')"
                    >Documentation</a
                >
                <a
                    class="menu-link" 
                    href='{{ site.Param "landingURL" }}/customers'
                    onclick="sendGtag('Customers_clicked', 'CodemagicMenu')"
                    >Customers</a
                >
            </nav>
            <aside id="header-authentication" data-js-header-authentication>
                <div id="header-auth-visitor" data-js-header-auth-visitor>
                    <a
                        class="auth-link"
                        href='{{ site.Param "appURL" }}/login'
                        id="login-link"
                        onclick="sendGtag('Login_clicked', 'CodemagicMenu')"
                        >Login</a
                    >
                    <a
                        href='{{ site.Param "appURL" }}/signup'
                        id="signup-btn"
                        class="btn"
                        onclick="sendGtag('Signup_clicked', 'CodemagicMenu')"
                        >Sign up</a
                    >
                </div>
                <a id="header-auth-user" href='{{ site.Param "appURL" }}/apps' data-js-header-auth-user>
                    <div class="label">Return to app</div>
                    <div id="header-user-avatar" data-js-header-user-avatar></div>
                </a>
                <div id="header-auth-logout" data-js-header-auth-logout>Log out</div>
                <div id="header-auth-loading" data-js-header-auth-loading>
                    <div class="grey-line" data-js-header-auth-loading-grey-line></div>
                    <div class="red-line"></div>
                </div>
            </aside>
        </div>
    </div>
</header>
