<svg width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.05">
        <circle cx="72" cy="72" r="72" fill="#09C4FF" />
        <circle cx="72" cy="72" r="72" fill="#09C4FF" />
        <circle cx="72" cy="72" r="72" fill="#09C4FF" />
        <circle cx="72" cy="72" r="72" fill="#09C4FF" />
    </g>
    <g opacity="0.1">
        <circle cx="72" cy="72" r="50" fill="#09C4FF" />
        <circle cx="72" cy="72" r="50" fill="#09C4FF" />
        <circle cx="72" cy="72" r="50" fill="#09C4FF" />
        <circle cx="72" cy="72" r="50" fill="#09C4FF" />
    </g>
    <rect x="22" y="23" width="76.1159" height="81.3913" rx="10" fill="url(#paint0_linear)" />
    <g filter="url(#filter0_d)">
        <line x1="34.3043" y1="34.3043" x2="34.3043" y2="90.8261" stroke="#0957FF" stroke-width="2" />
        <circle cx="34.058" cy="35.058" r="4.52174" fill="#224693" />
        <rect x="29.5363" y="44.8551" width="61.0435" height="9.04348" rx="3" fill="#224693" />
        <circle cx="34.058" cy="63.6957" r="4.52174" fill="#224693" />
        <circle cx="34.058" cy="92.3333" r="4.52174" fill="#224693" />
        <rect x="29.5363" y="73.4928" width="61.0435" height="9.04348" rx="3" fill="#224693" />
    </g>
    <rect x="52.1449" y="45.6087" width="76.1159" height="81.3913" rx="10" fill="url(#paint1_linear)" />
    <g filter="url(#filter1_d)">
        <line x1="64.4492" y1="56.913" x2="64.4492" y2="113.435" stroke="#0957FF" stroke-width="2" />
        <circle cx="64.2029" cy="57.6667" r="4.52174" fill="white" />
        <rect x="59.6812" y="67.4638" width="61.0435" height="9.04348" rx="3" fill="white" />
        <circle cx="64.2029" cy="86.3043" r="4.52174" fill="white" />
        <circle cx="64.2029" cy="114.942" r="4.52174" fill="white" />
        <rect x="59.6812" y="96.1014" width="61.0435" height="9.04348" rx="3" fill="white" />
    </g>
    <defs>
        <filter
            id="filter0_d"
            x="15.5363"
            y="16.5362"
            width="89.0435"
            height="94.3188"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
        >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
            />
            <feOffset />
            <feGaussianBlur stdDeviation="7" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix type="matrix" values="0 0 0 0 0.0352941 0 0 0 0 0.341176 0 0 0 0 1 0 0 0 0.2 0" />
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        </filter>
        <filter
            id="filter1_d"
            x="45.6812"
            y="39.1449"
            width="89.0435"
            height="94.3188"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
        >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
            />
            <feOffset />
            <feGaussianBlur stdDeviation="7" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix type="matrix" values="0 0 0 0 0.0352941 0 0 0 0 0.341176 0 0 0 0 1 0 0 0 0.2 0" />
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        </filter>
        <linearGradient id="paint0_linear" x1="22" y1="23" x2="88.9177" y2="111.358" gradientUnits="userSpaceOnUse">
            <stop stop-color="#06225D" />
            <stop offset="1" stop-color="#06225D" />
        </linearGradient>
        <linearGradient
            id="paint1_linear"
            x1="52.1449"
            y1="45.6087"
            x2="119.063"
            y2="133.966"
            gradientUnits="userSpaceOnUse"
        >
            <stop stop-color="#09C4FF" />
            <stop offset="1" stop-color="#0957FF" />
        </linearGradient>
    </defs>
</svg>
