{{ $currentPageConfiguration := "" }}
{{ if hasPrefix .URL "/yaml" }}
    {{ $currentPageConfiguration = "codemagic.yaml" }}
{{ end }}
{{ if hasPrefix .URL "/flutter" }}
    {{ $currentPageConfiguration = "Flutter workflow editor" }}
{{ end }}
{{ if ne $currentPageConfiguration "" }}
    <div id="configuration-info" class="hidden">
        You are currently viewing article for {{ $currentPageConfiguration }} configuration.
        <span id="configuration-info-close">x</span>
    </div>
{{ end }}
