{{ $currentPageConfiguration := "" }} {{ if hasPrefix .URL "/yaml" }} {{ $currentPageConfiguration = "codemagic.yaml" }}
{{ end }} {{ if hasPrefix .URL "/flutter" }} {{ $currentPageConfiguration = "Flutter workflow editor" }} {{ end }} {{ if
ne $currentPageConfiguration "" }}
<div id="configuration-info" js-configuration-info>
    <div class="wrap">
        This page describes configuring Codemagic using {{ $currentPageConfiguration }}.
        <span id="configuration-info-close" js-close-configuration-info>
            <i class="fas fa-times"></i>
        </span>
    </div>
</div>
{{ end }}
