<div class="search search--header" js-search>
    <input
        class="search__input"
        type="text"
        placeholder="Search for guides, terms, commands and more..."
        js-search-input
    />
    <div class="search__icon search__icon--search" js-search-icon>{{ partial "search-icon" }}</div>
    <div class="search__icon search__icon--clear icon fa-times" js-search-clear-icon></div>
    <div id="search-results" js-search-results></div>
</div>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"
    integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>
<script defer src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"></script>

{{ $searchScript := resources.Get "js/search.js" | minify | fingerprint }}
<script defer src="{{ $searchScript.RelPermalink }}" integrity="{{ $searchScript.Data.Integrity }}"></script>
