<!-- Check parameter types -->
{{ with .Get "langEqualsHeader"  }}
{{ if ne ( printf "%T" . ) "bool" }}
{{- errorf "shortcode tabpane: parameter 'langEqualsHeader' must be either true or false" -}}
{{ end }}
{{ end }}

{{ with .Get "code"  }}
{{ if ne ( printf "%T" . ) "bool" }}
{{- errorf "shortcode tabpane: parameter 'code' must be either true or false" -}}
{{ end }}
{{ end }}

<!-- Set values given defined within tabpane -->
{{- $uniqueid := delimit (shuffle (seq 1 9)) "" -}}
{{- $langPane := default "" ($.Get "lang") -}}
{{- $hloptionsPane := default "" ($.Get "highlight") -}}
{{- $codePane := default false ($.Get "code") -}}
{{- $langEqualsHeader := default false ($.Get "langEqualsHeader") -}}
{{- $disabled := false -}}
{{- $activeSet := false -}}

<!-- Scratchpad gets populated through call to .Inner -->
{{- .Inner -}}

<ul class="tabs-nav" id="tabs-{{- $uniqueid -}}" role="tablist" js-tabs-nav>
  {{- range $index, $element := $.Scratch.Get "tabs" -}}

    {{- $lang := $langPane -}}
    {{- if $langEqualsHeader -}}
      {{- $lang = $element.header -}}
    {{end}}
    {{- with $element.language -}}
      {{- $lang = $element.language -}}
    {{- end -}}

    {{- $disabled := false -}}
    {{- with $element.disabled -}}
      {{ if ne ( printf "%T" . ) "bool" }}
        {{- errorf "shortcode tab: parameter 'disabled' must be either true or false" -}}
      {{ end }}
      {{- $disabled = . }}
    {{- end -}}

    <!-- Replace space and +, not valid for css selectors -->
    {{- $lang := replaceRE "[\\s+]" "-" $lang -}}
    {{- $tabid := printf "tabs-%v-%v-tab" $.Ordinal $index | anchorize -}}

    <li class="nav-item" id="{{- $tabid -}}">
      <!-- Generate the IDs for the <a> and the <div> elements -->
      {{- $entryid := printf "tabs-%v-%v" $.Ordinal $index | anchorize -}}

      <a class="nav-link{{ if eq $disabled true }} disabled{{ end }}" 
          data-toggle="tab" name="{{ $entryid }}" role="tab"
        aria-controls="{{- $entryid -}}" aria-selected="{{- and ( not $activeSet ) ( not $disabled ) "true" "false" -}}">
        {{- index . "header" | markdownify -}}
      </a>
    </li>

    {{ if not $disabled }}
      {{ $activeSet = true }}
    {{ end }}

  {{- end -}}
</ul>

{{ $activeSet = false }}

<!-- Inner content -->
<div class="tab-content" id="tabs-{{- $uniqueid -}}-content">
  {{- range $index, $element := $.Scratch.Get "tabs" -}}

    {{- $lang := $langPane -}}
    {{- if $langEqualsHeader -}}
      {{- $lang = $element.header -}}
    {{end}}
    {{- with $element.language -}}
      {{- $lang = $element.language -}}
    {{- end -}}

    {{- $disabled := false -}}
    {{- with $element.disabled -}}
      {{- $disabled = . }}
    {{- end -}}

    {{- $hloptions := $hloptionsPane -}}
    {{- with $element.highlight -}}
      {{- $hloptions = $element.highlight -}}
    {{- end -}}

    {{- $code := $codePane -}}
    {{- with $element.code -}}
      {{ if ne ( printf "%T" . ) "bool" }}
        {{- errorf "shortcode tab: parameter 'code' must be either true or false" -}}
      {{ end }}
      {{- $code = . }}
    {{- end -}}

    {{- $tabid := printf "tabs-%v-%v-tab" $.Ordinal $index | anchorize -}}
    {{- $entryid := printf "tabs-%v-%v" $.Ordinal $index | anchorize -}}

    <div class="{{ if not $code }}tab-body {{end}}tab-pane fade{{ if and ( not $activeSet ) ( not $disabled ) }} show active{{ end }}"
        id="{{ $entryid }}" role="tabpanel" aria-labelled-by="{{ $tabid }}">
        {{ if $code }}
          {{- highlight (trim (index . "content") "\n") $lang $hloptions -}}
        {{- else -}}
            {{- index . "content" -}}
        {{- end -}}
    </div>

    {{ if not $disabled }}
      {{ $activeSet = true }}
    {{ end }}

  {{ end }}
</div>