name: Site Deployment

on:
  push:
    branches:
      - hugo-61

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: AKIAVIULH47FJUBBUV5U
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@master
      - run: curl --location https://github.com/gohugoio/hugo/releases/download/v0.61.0/hugo_extended_0.61.0_Linux-64bit.tar.gz | \
          tar -vxzO hugo > /usr/local/bin/hugo && chmod a+x /usr/local/bin/hugo
      - run: hugo --minify
        working-directory: ${{ github.workspace }}
      - run: hugo deploy docs.codemagic.io
        working-directory: ${{ github.workspace }}
